<div class="container-fluid">

    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 border p-3">

            <h4>Angular 17 Features with Standalone Routing</h4>


            <nav class="nav flex-column">


                <a routerLink="/standalone" routerLinkActive="active" class="nav-link">Standalone</a>

                <a routerLink="/signal" routerLinkActive="active" class="nav-link">Signals</a>

                <a routerLink="/heavy" routerLinkActive="active" class="nav-link">Defer Demo</a>

                <a routerLink="/user" routerLinkActive="active" class="nav-link">Required Input</a>

                <a routerLink="/reactive-form" routerLinkActive="active" class="nav-link">Form</a>

            </nav>

        </div>

        <!-- Dynamic Component Area -->
        <div class="col-md-9 border p-3">

            <router-outlet />

        </div>

    </div>

</div>